@import "components/_reset";
@import "components/_grid";
@import "prefixes/_prefixes";

body{
  background-color: #f0f0f0!important;
  min-width: 320px;
}

.wrapper{
  max-width: 550px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.card-logos{
  text-align: center;
  font-size: 14px;
  color: #484a49;
  margin-bottom: 30px;

  img{
    display: block;
    width: 205px;
    height: 37px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 14px;
  }
}

.form{

  label{
    display: block;
    margin-bottom: 5px;
  }

  .StripeElement--invalid{
    outline: 1px solid #fa4243;
  }

  input[type="text"],
  input[type="password"],
  .fake-input{
    display: block;
    font-family: sans-serif;
    font-size: 16px;
    width: 100%;
    background-color: #fff;
    padding: 14px 12px;
    box-sizing: border-box;
    border: 0;
    @include vp-box-shadow(0 0 4px 0 rgba(0, 0, 0, 0.3));
  }

  &__card{
    margin-bottom: 15px;
  }

  &__cols{

    &::after{
      content: '';
      clear: both;
      display: block;
    }
  }

  &__col{
    float: left;
    width: 48%;
    margin-left: 4%;
    margin-bottom: 30px;

    &:first-child{
      margin-left: 0;
    }
  }

  &__submit{
    font-size: 14px;

    button{
      display: block;
      -webkit-appearance: none;
      border: 0;
      background-color: #3a3e3d;
      width: 100%;
      height: 30px;
      line-height: 30px;
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      font-family: sans-serif;
      font-size: 16px;
      border-radius: 4px;
      margin-bottom: 14px;

      &:hover, &:active{
        background-color: #595d5c;
      }
    }

    #card-errors{
      margin-bottom: 14px;
      color: #fa4243;
    }
  }
}

.success{
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  line-height: 1.5;

  img{
    display: block;
    width: 81px;
    height: 62px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}

.error{
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  color: #984847;

  img{
    display: block;
    width: 61px;
    height: 61px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 31px;
  }
}