%cols{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  @media screen and (max-width: 720px){
    display: block;
  }
}

%col{
  box-sizing: border-box;
}

@for $i from 2 through 9 {
  .cols-#{$i}{
    @extend %cols;

    .col{
      @extend %col;
      width: 100%/$i;

      @media screen and (max-width: 720px){
        width: 100%;
      }
    }
  }
}