body {
    background-color: #f0f0f0 !important;
    min-width: 320px;
}

.wrapper {
    max-width: 550px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.success {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    line-height: 1.5;
}

.success img {
    display: block;
    width: 81px;
    height: 62px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.error {
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    color: #984847;
}

.error img {
    display: block;
    width: 61px;
    height: 61px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 31px;
}