@import "components/_reset";
@import "components/_grid";
@import "prefixes/_prefixes";

body{
  background-color: #f0f0f0!important;
  min-width: 320px;
  font-family: sans-serif;
}

.wrapper{
  max-width: 550px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.button{
  display: block;
  -webkit-appearance: none;
  border: 0;
  background-color: #3a3e3d;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 14px;

  &:hover, &:active{
    background-color: #595d5c;
  }
}

.success{
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  line-height: 1.5;

  img{
    display: block;
    width: 81px;
    height: 62px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}

.error{
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  color: #984847;

  img{
    display: block;
    width: 61px;
    height: 61px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 31px;
  }
}